
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
	padding: 0;
	border: 0;
	
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
	font: inherit;
    font-family: 'Lato', sans-serif;
}

:root{
    --color-primary: #31ADE0;
    --color-secondary: #98C33E;
    --color-darkest: #2C363E;
    --color-dark: #707070;
    --color-grey: #7E7E7E;
    --color-grey-light: #ABABAB; 
    --color-grey-lightest: #DCDCDC;
    --color-white: #FFFFFF;
    --color-dirty-white: #FFFFFF7E;
    --box-shadow: 5px 0px 20px var(--color-grey-light);
    --line: 1px var(--color-grey-lightest) solid;
}

/* Layout */

.container{
    display: flex;
}

.nav{
    max-width: 40%;
    min-height: 100vh;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    opacity: 1;
    z-index: 11;
}

.main {
    display: flex;
    flex-direction: column;
}

/* Common */

ul{
    list-style-type: none;
}


/* fonts */

.light{
    font: normal normal 300 14px/17px Lato;
    color: var(--color-grey);
    letter-spacing: -0.1px;
}

.medium{
    font: normal normal medium 17px/21px Lato;
    color: var(--color-grey);
    letter-spacing: -0.12px;
}

.dark{
    font: normal normal bold 29px/35px Lato;
    letter-spacing: 0.23px;
    color: var(--color-darkest);
}

.name{
    font-size: 1.5rem;
}

.small{
    font-size: small;
}

/* Nav */


.up{
    padding: 1rem;
}

.up >* {
    margin: 25px 0px 25px 0px;
}

.nav__logo{
    margin-top: 0px;
    margin-bottom: 1rem;
}

.up2 >* {
    margin-bottom: 1rem;
    font-size: small;
}

.up2 .icon{
    width: 15%;
    margin-right: .3rem;
}

.up2 li{
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  padding: .25rem;
}

li::before{
    width: 10px;
    height: 10px;
    background-color: #98C33E;
    z-index: 100000;
}


.up2 li:hover:not(.nonehover){
    color: var(--color-white);
    background-color: var(--color-secondary);
}

.up2 li:hover .icon{
    background-color: var(--color-white);
}

.nav__down--logo img{
    width: 40%;
    margin-left: .5rem;
}

.nav__down--logout{
    display: flex;
    padding: 1rem;
    border-top: var(--line);
    display: flex;
    align-items: center;
}

.nav__down--logout img{
    width: 15%;
    margin-right: .3rem;
}

/* Main */

.main{
    width: 100%;
    background-image: url("img/Bg_ap.png");
    background-size: cover;
    z-index: 10;
}

.main__container {
    margin: 2rem 0rem 0rem 3.5rem;
}

.main__titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin: 0rem 0rem 0rem 3.5rem;
    max-width: 60%;
}

.main__titulo h3 {
    padding: 0rem;
    font-size: large;
}

.header {
    display: flex;
    max-height: 12%;
}

.header img {
    width: 15%;
}

.vista-geral {
    display: flex;
    margin: 3.5rem 0rem 3.5rem -1rem;
}

    /* Div do meio - Consultas e Check-in */
.middle {
    background: transparent linear-gradient(90deg, #FFFFFFB9 0%, #FFFFFF7E 100%) 0% 0% no-repeat padding-box;
    border-radius: 0.375px;
    opacity: 1;
    display: flex;
    flex-direction: row;
}

.check-in {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0.375rem;
    opacity: 1;
}


/* Icons */

.icon{
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 20px;
    height: 30px;
    background-color: var(--color-grey);
}

.icon.home{    
    -webkit-mask-image: url("img/home.svg");
}

.icon.utente{    
    -webkit-mask-image: url("img/pessoa.svg");
}

.icon.medico{    
    -webkit-mask-image: url("img/doctor.svg");
}

.icon.consulta{    
    -webkit-mask-image: url("img/consultas.svg");
}

.icon.informacao{    
    -webkit-mask-image: url("img/information.svg");
}

.icon.calendario{    
    -webkit-mask-image: url("img/calendar.svg");
}

.icon.contactos{    
    -webkit-mask-image: url("img/phone.svg");
}

